/* The Horse's Encumbrance Controls Styles */

/* Add any custom styling for the module here */
.encumbrance-indicator {
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
}

.encumbrance-tier-1 {
  background-color: rgba(255, 255, 0, 0.3);
}

.encumbrance-tier-2 {
  background-color: rgba(255, 165, 0, 0.3);
}

.encumbrance-tier-3 {
  background-color: rgba(255, 0, 0, 0.3);
}
